<div class="wraper">
    <div class="holder"><slot /></div>
</div>

<style>
    .wraper {
        display: flex;
    }
    .holder {
        width: 100%;
        border: 10px solid #c4c4c4;
        padding: 40px;
        border-radius: 10px;
    }
</style>
