---
import Card from "./Card.astro";
import CardRight from "./CardRight.astro";

import Textinfo from "./Textinfo.astro";

import Tier1 from "../../../assets/tier1.svg";
import Tier2 from "../../../assets/tier2.svg";
import Tier3 from "../../../assets/tier3.svg";
---

<div class="cards" id="more-info">
    <Textinfo />
    <Card>
        <h1>Tier 1:</h1>
        <p>
            make a existing game, get a copy of the game! (eg. build skull, get
            skull)
        </p>
        <Tier1 />
    </Card>
    <CardRight>
        <h1>Tier 2:</h1>
        <p>
            make a twist to an existing game, get a copy of the game and
            stickers! (eg. build skull but if you get 2 skulls then they cancel
            each other, get skull and stickers)
        </p>
        <Tier2 />
    </CardRight>
    <Card>
        <h1>Tier 3:</h1>
        <p>
            make a whole new game, get a phiscal creation of your game, stickers
            and a shirt! (eg. a game where you need to repel and attack at the
            same time using cards to win, get your cards 3d printed, stickers
            and a shirt)
        </p>
        <Tier3 />
    </Card>

    <div class="contact">
        <h2>any question?</h2><h4>
            dm <a
                href="https://hackclub.enterprise.slack.com/team/U082KMLM7DW"
                target="_blank"
            >
                @Rez</a
            >
            on slack or ask in
            <a
                href="https://hackclub.enterprise.slack.com/archives/C0AMG0AFPJQ"
                target="_blank"
            >
                #strategize</a
            >!
        </h4>
    </div>
    <a class="submit" href="https://example.com/"
        ><button> Submit Now!</button>
    </a>
</div>

<style>
    .cards {
        display: flex;
        flex-direction: column;
        padding: 50px 100px;
        gap: 30px;
    }

    h1 {
        font-size: 75px;
        margin: 0px;
    }

    p {
        font-size: 30px;
        margin: 0px;
        color: #434343;
    }

    svg {
        margin-top: 15px;
        width: 100%;
    }

    .contact {
        text-align: center;
    }

    h2 {
        font-size: 100px;
        margin: 0;
    }

    h4 {
        font-size: 50px;
        margin: 0;
    }

    a {
        color: black;
    }

    button {
        border: 5px solid #c4c4c4;
        width: 100%;
        padding: 10px 0px;
        color: white;
        background-color: black;
        font-size: 50px;
        border-radius: 10px;
        cursor: pointer;
    }

    .submit {
        width: 100%;
        display: flex;
        text-decoration: none;
    }

    button:hover {
        border: 10px solid #c4c4c4;
        padding: 5px 0px;
    }
</style>
