<p>
    This is a stratagy board game YSWS (You Ship (us a game) We Ship (you
    prizes))!
</p>

<p>
    What does stratagy game mean?
    <span>
        any non full luck games, aka no roulette or slot machine games.
    </span>
</p>

<p>
    Any example games?
    <span>
        have a look at <a href="https://boardgamegeek.com/" target="_blank">BoardGameGeek.com</a>
    </span>
</p>

<p>
    What are the prizes?
    <span>
        prizes are based on the tier of the project you make, the tiers are
        listed below!
    </span>
</p>

<style>
    p {
        font-size: 50px;
        margin: 10px;
    }

    span {
        color: #333;
    }

    a {
        color: #333;
    }
</style>
