---
import Divider from "../../assets/divider.svg";
---

<Divider />

<h2>
    built with sillyness and <!-- ts so stupid why do i need to make < to &lt; -->
    &lt;3 by Rez
    <br />
    <a href="https://github.com/RezThePerson/strategize" target="_blank">
        github</a
    >
    -
    <a
        href="https://www.figma.com/design/S7wItFE9eLON66vTVxrTVx/Strategize"
        target="_blank"
    >
        figma</a
    >
    -
    <a
        href="https://github.com/RezThePerson/strategize/blob/main/for-the-hq-lords.md"
        target="_blank"
    >
        for the hq lords</a
    >
</h2>

<style>
    svg {
        width: 100%;
    }

    h2 {
        font-size: 75px;
        text-align: center;
    }

    a {
        color: black;
    }
</style>
