---
import Divider from "../../assets/divider.svg";
---

<Divider />

<h1>
    Built with silliness and <!-- ts so stupid why do i need to make < to &lt; -->
    &lt;3 by Rez
</h1>

<h2>
    <a href="https://github.com/RezThePerson/strategize" target="_blank">
        Github</a
    >
    -
    <a
        href="https://www.figma.com/design/S7wItFE9eLON66vTVxrTVx/Strategize"
        target="_blank"
    >
        Figma</a
    >
    -
    <a
        href="https://github.com/RezThePerson/strategize/blob/main/for-the-hq-lords.md"
        target="_blank"
    >
        For the HQ Lords</a
    >
</h2>

<style>
    svg {
        width: 100%;
        margin-bottom: 40px;
    }

    h1,
    h2 {
        font-size: 75px;
        text-align: center;
        margin: 5px;
    }
    
    h2 {
        font-size: 50px;
    }

    a {
        color: black;
    }
</style>
