---
import Sparkle from "../../../assets/sparkle.svg";
import ReverseSparkle from "../../../assets/reverse-sparkle.svg";
import Buildtowin from "../../../assets/buildtowin.svg";
---

<div class="info">
    <div class="top-sparkle">
        <Sparkle />
    </div>
    <div>
        <h1>Strategize</h1>
        <Buildtowin />
        <div class="buttons">
            <a href="#more-info"><button> More Info? </button></a>
            <a href="https://example.com/"><button> Submit! </button></a>
        </div>
    </div>
    <div class="bottom-sparkle">
        <ReverseSparkle />
    </div>
</div>

<style>
    .info {
        text-align: center;
    }

    h1 {
        font-size: 150px;
        margin: 0;
    }

    div svg {
        width: 75%;
        height: fit-content;
    }

    /*
    p {
        font-size: 40px;
        margin: 0;
        color: #434343;
    }
    */

    .buttons,
    a {
        width: 100%;
        display: flex;
        text-decoration: none;
    }

    button {
        border: 5px solid #c4c4c4;
        width: 100%;
        padding: 10px 0px;
        color: white;
        background-color: black;
        margin: 5px;
        font-size: 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 50ms;
    }

    button:hover {
        border: 10px solid #c4c4c4;
        padding: 5px 0px;
    }

    .top-sparkle {
        display: flex;
        justify-content: flex-start;
    }

    .top-sparkle svg {
        position: relative;
        width: 150px;
        left: -100px;
        bottom: -90px;
    }

    .bottom-sparkle {
        display: flex;
        justify-content: flex-end;
    }

    .bottom-sparkle svg {
        position: relative;
        width: 150px;
        right: -130px;
        top: -70px;
    }
</style>
