---
import Sparkle from "../../../assets/sparkle.svg";
import ReverseSparkle from "../../../assets/reverse-sparkle.svg";
---

<div class="info">
    <div class="top-sparkle">
        <Sparkle />
    </div>
    <div>
        <h1>Strategize</h1>
        <p>1. Make your own strategy board game.</p>
        <p>2. Build a virtual place to play the game.</p>
        <p>3. Get a physical copy of your own game!</p>
        <div class="buttons">
            <button> More Info? </button>
            <button> Submit! </button>
        </div>
    </div>
    <div class="bottom-sparkle">
        <ReverseSparkle />
    </div>
</div>

<style>
    .info {
        text-align: center;
    }

    h1 {
        font-size: 100px;
        margin: 0;
    }

    p {
        font-size: 25px;
        margin: 0;
        color: #434343;
    }

    .buttons {
        width: 100%;
        display: flex;
    }

    button {
        border: 5px solid #c4c4c4;
        width: 100%;
        padding: 10px 0px;
        color: white;
        background-color: black;
        margin: 5px;
        font-size: 25px;
        border-radius: 10px;
        cursor: pointer;
    }

    .top-sparkle {
        display: flex;
        justify-content: flex-start;
    }

    .top-sparkle svg {
        position: relative;
        width: 150px;
        left: -120px;
        bottom: -90px;
    }

    .bottom-sparkle {
        display: flex;
        justify-content: flex-end;
    }

    .bottom-sparkle svg {
        position: relative;
        width: 150px;
        right: -120px;
        top: -80px;
    }
</style>
