---
import Info from "./Info.astro";

// import Background from "../../../assets/background.svg";
import pngBackground from "../../../assets/background.png";
---

<div class="full-wraper">
    <div class="bg-wraper"><img src={pngBackground.src} /></div>

    <div class="info-wraper"><Info /></div>
</div>

<style>
    .full-wraper {
        position: relative;
    }

    .info-wraper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-wraper {
        height: 95vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: hidden;
    }

    img {
        width: 100vw;
    }
</style>
