---
import Info from "./Info.astro";

import Background from "../../../assets/background.svg";
---

<div class="full-wraper">
    <div class="bg-wraper"><Background /></div>

    <div class="info-wraper"><Info /></div>
</div>

<style>
    .full-wraper {
        position: relative;
    }

    .info-wraper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-wraper {
        height: 95vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: hidden;
    }

    svg {
        width: 100vw;
    }
</style>
